.btn {
  width: 100px;
  border-radius: 100px;
  height: 40px;
  background-color: #58b86d;

  margin: 10px;
}
button {
  text-decoration: none !important;
}
.btn2 {
  width: 400px;
  border-radius: 100px;
  height: 40px;
  background-color: white;
  margin: 10px;
}
