.animation-correct {
  width: 270px;
  height: 270px;
}
.container-correct {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  color: #353c4d;
  font-size: 0.6cm;
  font-weight: bold;
}
