.header-screen {
  background-color: #ea4d3e;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.question-number-screen {
  color: #bec1c6;

  font-size: 1.3cm;
  text-align: center;
  align-items: center;
  font-weight: bold;
  padding-top: 30px;
}
